<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <a href="/"><i class="fa fa-home"></i> Home</a>
          <a href="#">Women’s </a>
          <span>Essential structured blazer</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->